html,
body {
  /*background-color: #ddd;
  font-family : 'Ubuntu', sans-serif;*/
  height: 100%;
  padding-top: 0px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

div.heading {
  background: url('/static/img/background.jpg');
  background-repeat: no-repeat;
  background-size: 1020px 138px;
  width: 1020px;
  height: 138px;
  margin-left: auto;
  margin-right: auto;
}

.navbar .nav > li > a {
  float: none;
  padding: 8px 10px 8px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.mycontainer {
  padding-top: 40px; 
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
}
#mypush {
  height: 60px;
}

.center-text {
  text-align: center;
}

div.heading h1 {
  margin-left: 10px;
}

.breadcrumb {
  margin-top: 50px;
  opacity:0.75;
  filter:alpha(opacity=75); /* For IE8 and earlier */
}

.breadcrumb li {
  opacity:1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
  font-weight:bold;
}

.navbar .brand {
    color: Orange;
}
.navbar .navbar-text {
    line-height: 20px;
    color: Orange;
    float: none;
}


@media (min-width: 600px) and (max-width: 1100px) {
  .navbar .mybrand {
    font-size: 2em;
  }
  .mytag-text {
    font-size: 1.1em; 
   }
}

@media (min-width: 1100px) and (max-width: 2000px) {
  .navbar .mybrand {
    font-size: 2.5em;
  }
  .mytag-text {
    font-size: 1.2em; 
   }
}

